/* ================================
   GLOBAL BASE
================================ */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1D22;
    color: #FFFFFF;
    font-family: "Moyko", sans-serif;
    line-height: 1.6;
}

